body{
    font-family: sans-serif;
    background-color: aliceblue;
    color:darkred;
}

hd{
    font-family: cursive;    
    background-color: darkseagreen;
    color:burlywood;
}

p{
    font-family: cursive;
    margin: auto;
    
}

small{
    font-family: inherit;
    font-size: 18px;
    margin:0;
}

body h1{
    font-family: cursive;
    background-color:darkred;
    color:aliceblue;
    margin:0;
    padding: 20px 10px;
    border-top: 100px;
    border-bottom: 200px;
    border: 5px solid black;
    
}
body nav ul{
    font-family: sans-serif;
    background-color: coral;
    color:aliceblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*sticky nav bar*/
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

body nav li{
    float: left;
}

body nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    
}

body nav li a:hover{
    background-color: antiquewhite;
}

footer{
    background-color: antiquewhite;
    border: 1px solid black;
    display:block;
    text-align: end;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

#exmp{
  background-color: aqua; 
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  padding: 15px;
  border: 10px solid black;
  padding: 10px;
  background-repeat: no-repeat;
  margin: 0;
}

a:visited{
    color:red;
}

a:hover{
    color: white;
}

a:active{
    color: khaki;
}

#exmp1{
  background-color: aquamarine;
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  padding: 15px;
  border: 10px solid black;
  padding: 35px;
  background-repeat: no-repeat;
  margin: 0;
}

#exmp2{
  background-color: antiquewhite;
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  padding: 15px;
  /*Side bold Border*/
  border: 10px solid black;
  padding: 10px;
  background-repeat: no-repeat;
  margin: 0;
}
/*front image*/
.hero-img {
  background: url(Michel.jpeg) no-repeat center; 
  background-size: cover;
  height: 600px;
  position: relative;
  margin:0; 
  position: static;
}

.hero-txt {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
  position: relative;
  margin: 0;
  position: absolute;
  position: fixed;
}


